@import "tailwindcss/base";

@import url("fonts.scss");

@mixin bkg-img-transition($bkg1, $bkg2, $transTime:0.5s) {
    position: relative;
    z-index: 100;

    &:before,
    &:after {
        @apply bg-contain block h-full absolute top-0 left-0 w-full bg-no-repeat bg-center;
        content: '';
        transition: opacity $transTime;
    }

    &:before {
        z-index: -101;
        
        &.visible {
            background-image: url("#{$bkg1}");
        }
    }

    &:after {
        z-index: -100;
        opacity: 0;

        &.visible {
            background-image: url("#{$bkg2}");
        }
    }

    &:hover {
        &:after {
            opacity: 1;
        }

        &:before {
            opacity: 0;
        }
    }
}

.lazy {
    background-image: url();
    /* Placeholder image */
}

[x-cloak] { display: none !important; }

* {
    hyphens: manual;
}

.stroke-black path {
    stroke: black;
}

.fill-black path {
    fill: black;
}

.font-heading {
    font-weight: 700;
}

#intro-gradient,
.entry-bg::after {
    //background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.0086472) 6.67%, rgba(17, 17, 17, 0.03551) 13.33%, rgba(17, 17, 17, 0.0816599) 20%, rgba(17, 17, 17, 0.147411) 26.67%, rgba(17, 17, 17, 0.231775) 33.33%, rgba(17, 17, 17, 0.331884) 40%, rgba(17, 17, 17, 0.442691) 46.67%, rgba(17, 17, 17, 0.557309) 53.33%, rgba(17, 17, 17, 0.668116) 60%, rgba(17, 17, 17, 0.768225) 66.67%, rgba(17, 17, 17, 0.852589) 73.33%, rgba(17, 17, 17, 0.91834) 80%, rgba(17, 17, 17, 0.96449) 86.67%, rgba(17, 17, 17, 0.991353) 93.33%, #111111 100%);
    //@apply bg-gradient-to-r from-black to-transparent;
}

.entry-bg {
    z-index: -1;
    background-position: 0 -6rem;
    margin-top: -40px;
    animation-name: slideIn;
    animation-duration: 4s;
    // animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    animation-fill-mode: forwards;
    background-image: url('../media/macbook-3.jpg');

    // &.visible {
        
    // }

    &::after {
        @apply absolute w-full h-full top-0 bottom-0 left-0;

        content: "";
    }
}

.hide span {
    animation-iteration-count: 1;
}

h1,
h2,
h3,
h4 {
    @apply leading-[1.125];
}

h1 {
    @apply uppercase;
}

h2 {
    @apply leading-normal;
}

#entry {
    @apply bg-gradient-to-t from-black;

    h1 {
        span {
            background-image: linear-gradient(200deg, rgba(255, 255, 255, 0), 25%, rgba(255, 255, 255, 1));
        }
    }
}

p {
    @apply leading-tight text-tiny;
}

// .swiper-wrapper::before {
//     display: none;
// }

.swiper-slide {
    // width: auto !important;
    //max-width: 90%;
    // height: auto !important;
    // backdrop-filter: blur(0px);
    // opacity: .3;
    // transition: all 1s cubic-bezier(0.16, 1, 0.3, 1) !important;

    // &.swiper-slide-active {
    //     @apply opacity-100;
    // }

    // &.slide-01 .slide-img {
    //     background-image: url('../media/desktop-screen-naanu-02.png');
    // }
}

// .swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
//     margin-inline-start: unset !important;
// }

.swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
        .swiper-slide {
            @apply text-center opacity-30 flex justify-center items-center max-w-[90%] xxs:max-w-[80%] xs:max-w-[70%] md:max-w-[40%] xl:max-w-[30%] 2xl:max-w-[20%];
            
            height: auto !important;
            font-size: 18px;
            transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1) !important;

            &.swiper-slide-active {
                @apply opacity-100;
            }

            &:first-child {
                @apply items-stretch;
            }
        }
    }
}

@media (max-width: 767px) {
    .swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
        margin-inline-start: unset !important;
    }
}

.link-line {
    @apply block rounded mb-0.5;

    height: 1px;
}

#app main .swiper-pagination-bullet {
    @apply transition-all duration-500 ease-in-out rounded-xs mx-0 relative overflow-hidden;

    width: 8px;
    height: 12px;
    z-index: 1;
    background: linear-gradient(0.2turn, #fff, #fff);

    &::before {
        position: absolute;
        content: "";
        top: -50%;
        left: -50%;
        background: linear-gradient(0.1turn, #EB50CC, #38EBE4);
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
        width: 200%;
        height: 200%;
    }

    &.swiper-pagination-bullet-active {
        width: 9px;
        height: 13px;

        &::before {
            opacity: 1;
            background: linear-gradient(0.1turn, #EB50CC, #38EBE4);
            animation: spin 3s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}

input {
    @apply font-bold text-base tracking-wide text-gray-400 py-3 px-6 w-full rounded-xl focus:text-neon-blue-dark focus:bg-sky-500/50;

    height: 50px;
}

.btn-submit {
    width: 50px;
    height: 50px;
}

.floating {
    animation: floating 4s infinite;
    animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.neon {
    @apply text-transparent;

    animation: animateBg 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    //background: linear-gradient(200deg, #EB50CC, #38EBE4, #EB50CC, #38EBE4);
    background-size: 1200% 1200%;
}

@keyframes animateBg {
    0% {
        background-position: 0% 73%
    }

    50% {
        background-position: 100% 28%
    }

    100% {
        background-position: 0% 73%
    }
}

button {
    @apply transition-colors;

    &.error {
        @apply bg-neon-red;
    }

    &.success {
        @apply bg-neon-green bg-opacity-10 border-neon-green hover:bg-opacity-10 cursor-not-allowed;
    }
}

.button {
    @apply tracking-wide text-normal;

    min-height: 50px;

    a {
        @apply w-full h-full grid items-center;
    }

    svg {
        @apply m-auto mb-1;
    }
}

.icon-button {
    width: 50px;
    height: 50px;
}

#footer {
    @apply bg-no-repeat bg-bottom bg-contain sm:bg-cover bg-opacity-10;

    // &.visible {
    //     background-image: url('../media/repository.png');
    // }

    p {
        @apply text-sm;
    }
}

.entry-fade {
    animation-name: fadeOutEntry;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

body {
    background: transparent !important;
}

html {
    @apply bg-black;
}

#flying-shapes {
    z-index: -1;
}

.pseudo-bg {
    margin-top: 100vh;
}

@supports (pointer-events: none) {
    #flying-shapes {
        z-index: 2;
        pointer-events: none;
    }
}

@keyframes fadeInBgBlur {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .3;
    }
}

@keyframes fadeOutEntry {
    0% {
        top: 0;
    }

    10% {
        opacity: 1
    }

    100% {
        top: 100%;
        opacity: 0
    }
}

@keyframes slideIn {
    0% {
        margin-top: -40px
    }

    100% {
        margin-top: 0
    }
}

.animate-swipe-x {
    @apply font-heading text-sm tracking-wide relative w-24;

    transition: opacity 1s cubic-bezier(0.87, 0, 0.13, 1);
}

.animate-swipe-x::before {
    @apply animate-swipe-x-out absolute w-full h-full top-0 left-0 block;

    content: "Swipe";
}

.animate-swipe-x::after {
    @apply animate-swipe-x-in absolute w-full h-full top-0 left-0 block;

    content: "Swipe";
}

.lang-zh .animate-swipe-x::before,
.lang-zh .animate-swipe-x::after {
    content: "刷卡";
}

.lang-hr .animate-swipe-x::before,
.lang-hr .animate-swipe-x::after {
    content: "Svajpaj";
}

.reference-text a {
    white-space: nowrap;
}

.swipe-down {
    transition: visibility 1s;
}

.device-shadow {
    filter: drop-shadow(10px -15px 25px rgba(17, 17, 17, .2));
}

.memoji-sticker {
    filter: drop-shadow(2px -2px 2px rgba(17, 17, 17, .4));
    @include bkg-img-transition("../media/memoji-sticker-04.png","../media/memoji-sticker.png",0.1s);
}

.memoji-sticker-2 {
    filter: drop-shadow(2px -2px 2px rgba(17, 17, 17, .4));
    
    &.visible {
        background-image: url('../media/memoji-sticker-06.png');
    }
}

.box-shadow {
    filter: drop-shadow(0 -10px 20px rgba(17, 17, 17, .4));
}

.bg-shadow {
    filter: drop-shadow(25px -25px 20px rgba(17, 17, 17, .5));
}


.music-icon {
    @apply border border-white opacity-25;

    svg {
        @apply fill-white;
    }
}

.contact-options {
    li {
        a {
            svg {
                @apply w-full h-auto;

                path {
                    @apply stroke-inherit fill-inherit;
                }
            }
        }

        ul {
            filter: drop-shadow(0 -5px 15px rgba(17, 17, 17, .8));
        }
    }
}

html, body {
    height: 100%;
}

.continue-content {
    //top: 100vh;
}

// #intro {
//     //clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    

//     &:after {
//         background: red;
//         bottom: 0;
//         content: '';
//         display: block;
//         height: 100%;
//         left: 0;
//         position: absolute;
//         right: 0;
//         transform: skewY(-1.5deg);
//         transform-origin: 100%;
//         z-index: -1;
//       }
// }

// #intro {
//     backdrop-filter: blur(10px);
//     filter: drop-shadow(0 -3mm 8mm rgb(0, 0, 0));
// }

.fade-out {
    opacity: .05 !important;
}

.arrow::after {
    @apply -mt-3 left-1/2 top-0 absolute bg-dirty-white block;

    content: "";
    width: 10px;
    height: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    margin-left: -5px;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
    html {
        font-family: 'Min Sans', system-ui, sans-serif;
    }
}
