@import "tailwindcss/base";

@import url("fonts.scss");

@mixin bkg-img-transition($bkg1, $bkg2, $transTime:0.5s) {
    position: relative;
    z-index: 100;

    &:before,
    &:after {
        @apply bg-contain block h-full absolute top-0 left-0 w-full bg-no-repeat bg-center;
        content: '';
        transition: opacity $transTime;
    }

    &:before {
        z-index: -101;
        background-image: url("#{$bkg1}");
    }

    &:after {
        z-index: -100;
        opacity: 0;
        background-image: url("#{$bkg2}");
    }

    &:hover {
        &:after {
            opacity: 1;
        }

        &:before {
            opacity: 0;
        }
    }
}

#intro-gradient,
.entry-bg::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0086472) 6.67%, rgba(0, 0, 0, 0.03551) 13.33%, rgba(0, 0, 0, 0.0816599) 20%, rgba(0, 0, 0, 0.147411) 26.67%, rgba(0, 0, 0, 0.231775) 33.33%, rgba(0, 0, 0, 0.331884) 40%, rgba(0, 0, 0, 0.442691) 46.67%, rgba(0, 0, 0, 0.557309) 53.33%, rgba(0, 0, 0, 0.668116) 60%, rgba(0, 0, 0, 0.768225) 66.67%, rgba(0, 0, 0, 0.852589) 73.33%, rgba(0, 0, 0, 0.91834) 80%, rgba(0, 0, 0, 0.96449) 86.67%, rgba(0, 0, 0, 0.991353) 93.33%, #000000 100%);
}

.entry-bg {
    z-index: -1;
    background-position: 0 -6rem;
    background-image: url('../media/macbook-1.png');
    margin-top: -40px;
    animation-name: slideIn;
    animation-duration: 4s;
    // animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    animation-fill-mode: forwards;

    &::after {
        @apply absolute w-full h-full top-0 left-0 bottom-0 right-0;

        content: "";

        @screen xs {
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0086472) 6.67%, rgba(0, 0, 0, 0.03551) 13.33%, rgba(0, 0, 0, 0.0816599) 20%, rgba(0, 0, 0, 0.147411) 26.67%, rgba(0, 0, 0, 0.231775) 33.33%, rgba(0, 0, 0, 0.331884) 40%, rgba(0, 0, 0, 0.442691) 46.67%, rgba(0, 0, 0, 0.557309) 53.33%, rgba(0, 0, 0, 0.668116) 60%, rgba(0, 0, 0, 0.768225) 66.67%, rgba(0, 0, 0, 0.852589) 73.33%, rgba(0, 0, 0, 0.91834) 80%, rgba(0, 0, 0, 0.96449) 86.67%, rgba(0, 0, 0, 0.991353) 93.33%, #000000 100%);
        }
    }
}

.hide span {
    animation-iteration-count: 1;
}

h1,
h2,
h3,
h4 {
    @apply tracking-tight;

    line-height: 1.125;
}

#entry {
    @apply bg-gradient-to-t from-black;

    h1 {
        span {
            background-image: linear-gradient(200deg, rgba(255, 255, 255, 0), 25%, rgba(255, 255, 255, 1));
        }
    }
}

p {
    @apply leading-tight text-tiny;
}

.swiper-slide {
    max-width: 90%;
    height: auto !important;

    &.swiper-slide-active>div {
        @apply opacity-100;
    }
}

.link-line {
    @apply block rounded mb-0.5;

    height: 1px;
}

#app main .swiper-pagination-bullet {
    @apply transition-all duration-500 ease-in-out rounded-xs mx-0 relative overflow-hidden;

    width: 8px;
    height: 12px;
    z-index: 1;
    background: linear-gradient(0.2turn, #fff, #fff);

    &::before {
        position: absolute;
        content: "";
        top: -50%;
        left: -50%;
        background: linear-gradient(0.1turn, #EB50CC, #38EBE4);
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
        width: 200%;
        height: 200%;
    }

    &.swiper-pagination-bullet-active {
        width: 9px;
        height: 13px;

        &::before {
            opacity: 1;
            background: linear-gradient(0.1turn, #EB50CC, #38EBE4);
            animation: spin 3s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}

input {
    @apply font-bold text-base tracking-wide text-gray-400 py-3 px-6 w-full rounded-xl focus:text-neon-blue-dark focus:bg-sky-500/50;

    height: 50px;
}

.btn-submit {
    width: 50px;
    height: 50px;
}

.floating {
    animation: floating 4s infinite;
    animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.neon {
    @apply text-transparent;

    animation: animateBg 15s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    background: linear-gradient(200deg, #EB50CC, #38EBE4, #EB50CC, #38EBE4);
    background-size: 1200% 1200%;
}

@keyframes animateBg {
    0% {
        background-position: 0% 73%
    }

    50% {
        background-position: 100% 28%
    }

    100% {
        background-position: 0% 73%
    }
}

button {
    @apply transition-colors;

    &.error {
        @apply bg-neon-red;
    }

    &.success {
        @apply bg-neon-green bg-opacity-10 border-neon-green hover:bg-opacity-10 cursor-not-allowed;
    }
}

.button {
    @apply tracking-wide text-normal;

    min-height: 50px;

    a {
        @apply w-full h-full grid items-center;
    }

    svg {
        @apply m-auto mb-1;
    }
}

.icon-button {
    width: 50px;
    height: 50px;
}

#footer {
    @apply bg-no-repeat bg-bottom bg-contain sm:bg-cover bg-opacity-10;

    background-image: url('../media/repository.png');

    p {
        @apply text-sm;
    }
}

.entry-fade {
    animation-name: fadeOutEntry;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
}

body {
    background: transparent !important;
}

html {
    background: black;
}

#flying-shapes {
    z-index: -1;
}

@supports (pointer-events: none) {
    #flying-shapes {
        z-index: 2;
        pointer-events: none;
    }
}

@keyframes fadeInBgBlur {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .3;
    }
}

@keyframes fadeOutEntry {
    0% {
        top: 0;
    }

    10% {
        opacity: 1
    }

    100% {
        top: 100%;
        opacity: 0
    }
}

@keyframes slideIn {
    0% {
        margin-top: -40px
    }

    100% {
        margin-top: 0
    }
}

.animate-swipe-x {
    @apply font-heading text-sm tracking-wide relative w-24 ml-6;
}

.animate-swipe-x::before {
    @apply animate-swipe-x-out absolute w-full h-full top-0 left-0 block;

    content: "Swipe";
}

.animate-swipe-x::after {
    @apply animate-swipe-x-in absolute w-full h-full top-0 left-0 block;

    content: "Swipe";
}

.lang-zh .animate-swipe-x::before,
.lang-zh .animate-swipe-x::after {
    content: "刷卡";
}

.lang-hr .animate-swipe-x::before,
.lang-hr .animate-swipe-x::after {
    content: "Svajpaj";
}

.reference-text a {
    white-space: nowrap;
}

.swipe-down {
    transition: visibility 1s;
}

.device-shadow {
    filter: drop-shadow(10px -15px 25px rgba(0, 0, 0, .2));
}

.memoji-sticker {
    filter: drop-shadow(2px -2px 2px rgba(0, 0, 0, .4));
    @include bkg-img-transition("../media/memoji-sticker-04.png","../media/memoji-sticker.png",0.1s);
}

.memoji-sticker-2 {
    filter: drop-shadow(2px -2px 2px rgba(0, 0, 0, .4));
    background-image: url('../media/memoji-sticker-06.png');
}

.box-shadow {
    filter: drop-shadow(0 -10px 20px rgba(0, 0, 0, .4));
}

.bg-shadow {
    filter: drop-shadow(25px -25px 20px rgba(0, 0, 0, .5));
}


.music-icon {
    @apply border border-white opacity-25;

    svg {
        @apply fill-white;
    }
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
