/*
@font-face {
    font-family: 'ClearSans-Regular';
    src: url('../fonts/ClearSans-Regular.ttf');
    src: url('../fonts/ClearSans-Regular.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../fonts/ClearSans-Bold.ttf');
    src: url('../fonts/ClearSans-Bold.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Min Sans';
    src: url('../fonts/MinSans-Medium.woff2') format('woff2'),
        url('../fonts/MinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: 'Min Sans';
    src: url('../fonts/MinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Min Sans';
    src: url('../fonts/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Min Sans';
    src: url('../fonts/MinSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

