/*
@font-face {
    font-family: 'ClearSans-Regular';
    src: url('../fonts/ClearSans-Regular.ttf');
    src: url('../fonts/ClearSans-Regular.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../fonts/ClearSans-Bold.ttf');
    src: url('../fonts/ClearSans-Bold.ttf?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'MinSans-Medium';
    src: url('../fonts/MinSans-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinSans-Black';
    src: url('../fonts/MinSans-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}