/*
 * Strawford
 */

@font-face {
    font-family: 'strawfordbold';
    src: url('../fonts/strawford/strawford-bold-webfont.eot');
    src: url('../fonts/strawford/strawford-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford/strawford-bold-webfont.woff2') format('woff2'),
         url('../fonts/strawford/strawford-bold-webfont.woff') format('woff'),
         url('../fonts/strawford/strawford-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'strawfordregular';
    src: url('../fonts/strawford/strawford-regular-webfont.eot');
    src: url('../fonts/strawford/strawford-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/strawford/strawford-regular-webfont.woff2') format('woff2'),
         url('../fonts/strawford/strawford-regular-webfont.woff') format('woff'),
         url('../fonts/strawford/strawford-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}